*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.maincontainer{
  display: flex;
  width:100%;
  justify-content:space-between;
  align-items: center;
background-color: lightseagreen;
color: white;
position: fixed;
top: 0px;
z-index: 1;
}

.logo{
  flex: 0.5;
  padding-left: 5%;
  /* background-color: aqua; */
}

.logo h4{
 font-size: 30px;
 font-weight: 600;
}

.search{
  flex: 1;
  padding-left: 100px;
}
.search input{
  border: none;
  outline: none!important;
  padding: 5px 0px;
  border-radius: 5px;
  
}
.search span{
  padding: 0 5px;

}

.cart{
  flex: 0.5;
  display: flex;
}

.cart ul{
  display: flex;
  padding-top: 12px;
}

.cart ul li{
  list-style: none;
  cursor: pointer;
  padding: 0 10px;
  align-items: center;
}

.cart ul li span{
  padding: 0 5px;
}

.product{
  width: 100%;
  margin-top: 100px;
  /* text-align: center; */
  justify-content: center;
}

.productmain{
  width: 80%;
  margin-left: 100px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.1 px solid #fafafa;
  box-shadow: 0px 15px 10px -15px #111; 
  border: 1.1px solid gray;
 
} 

.divider{
  display: flex;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainimage{
  width:40%;
  width:400px;
  height: 600px;
  /* background-color: blue; */
  align-items: center;
  padding-bottom: 15px;
  box-shadow: 0px 15px 10px -15px #111; 
}

.addidas{
   width:300px;
   height: 400px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   border:1.1px solid grey
}
 .addidas img{
  width:100%;
  height: 100%;
}

.image{
  width:350px;
  height:350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  
  /* margin-top: 50px; */
}

.image span img{
  width:100%;
  height: 100%;
  padding: 10px 60px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
}

.productdetails{
  width:40%;
  /* background-color: #111; */
  margin-left: 40px;
  align-items: center;
}
.button{
  background-color: lightseagreen;
  letter-spacing: 0.2rem;
  border: none;
  width:50%;
  padding:5px 0px;
  color: white;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
}

.similarProducts{
  margin-top: 80px;
  display: flex;
  /* width:350; */
  /* height: 500; */
  /* border: 1.1px solid grey; */
}


.product1{
  width:500px;
  /* height: 400px; */
  margin-top: 100px;
  padding: 10px 30px;
  margin-left: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) ;
}

.product1 img{
  width:100%;
  height:100%;
  display: flex;
  /* padding: 10px 15px; */
}

.product1 span{
  display: flex;
}

.button1{
  width:90%;
  background-color: lightseagreen;
  letter-spacing: 0.2rem;
  border: none;
  padding: 5px 0px;
  color: white;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.heading{
  margin-top: 180px;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  color:white;
}

.input h2{
  padding: 10px 0;
}
.input input{
  text-align: center;
  width:60%;
  padding: 8px 0;
  border-radius: 5px;
  border: none;
  outline: none!important;
}